$bg_blue: #144ea2;
$bg_azul: #3b8dbd;
$blanco: #ffffff;
$negro: #000000;
$color_principal: #144EA2;
$color_secundario: #01A5A6;
$verde_fuerte: #34E097;
$verde_bajo: #BDF271;
$amarillo: #FFFFA3;
$hover_blue: #025af9;
$navegacion: #26272b;
$header: #33363b;
$bg_panel: #f0f0f0;
$bg_body : #eaeaea;
$linea: #eee;
$verde: #82b965;