@import "_miscolores.scss";
@import "_margenes.scss";
@import "_tamanios.scss";
@import "_funciones.scss";
@import "_menu.scss";
@import "_panel.scss";
@import "_sidebar.scss";
@import "_galeria.scss";

.panel-capital{
    background-color: $blanco;
    padding:0 0 30px 0;
    border: 0;
    border-radius: 0;
    margin-bottom: 30px;
    text-align: center;
}
#img-perfil{
  width: 40px;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 0;
  padding-left: 0;
}

.galeria{
    margin-bottom: 60px;
}

.admin{
    border:1px solid $bg_blue;
    color: $blanco;
    padding: 0px;
    position: relative;
        #titulo{
            background-color: $bg_blue;
            text-align: center;
            font-size: $letra_normal;
            font-weight: 600;
            padding-top:18px;
            padding-bottom:18px;
            text-transform: uppercase;  
        }
    .list-group{
        background-color: $bg_azul;
        color: $blanco;
        border-radius:0px;
        margin-bottom: 0px;
        text-align: center;
    }
    .admin-item{
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        background-color: $blanco;
        color: $negro;
        font-size: $letra_normal -5;
        font-weight: 600;
        border: 1px solid $bg_body;
        text-decoration: none;
    }
    
}

.lateral-izquierda,.lateral-derecha,{
    background-color: $bg_panel;
    padding: 0px;
    .seccion{
        padding: 0 10px 5px 15px;
        margin: 0 0 10px 0;
    }
    .titulo{
        font-size: $letra_normal;
        font-weight: 600;
       text-transform: uppercase;  
    }
    .encabezado{
        height: 60px;
        width:100%;
       
        background-color: $bg_blue;
    }
}

.titulo{
    padding-top: 10px;
    padding-bottom:10px;
}
.central{
    background-color: $blanco;
    padding:0;
    border: 0;
    text-align: center;
    border-radius: 0;
    color: $negro;
    .encabezado{
        text-align: center;
        height: 60px;
        width:100%;
        margin:0;
        padding: 12px 0;
        font-size: $letra_grande;
        color: $blanco;
        background-color: $verde;
        margin-bottom:15px;
    }
}
#centro{
    .item-entrada{
        padding: 0;
        padding-bottom: 15px;
        height: 300px;
        border: 1px solid $negro;
        border-radius: 5px;
        margin-bottom: 10px;
        overflow: hidden;
        .img-entrada{
        height:180px;
        position:relative;
       
        }
        img{
            height:180px;
            width:100%;
        }
    }
    
    .nombrenegocio{
        width: 100%;
    background: $negro;
        text-align: center;
    font-weight: bolder;
    opacity: .9;
    position: absolute;
    @include color_letra($blanco);
    bottom:-10px;
    padding: 5px 0;
    text-transform: uppercase;
      }
    .slogan{
        display: table-cell;
        padding: 5px 5px;
        text-align: justify;
        word-wrap: break-word; 
        vertical-align:middle;
        line-height: 90%;
        font-size: $letra_normal;
        font-family: 'Indie Flower', cursive;
    }
   
    .ver-mas{
        position: absolute;
        bottom:20px;
        right: 25px;
    }
    a{
        background: $color_secundario;
                &:hover{
                    opacity: .8;
                }
    }
    .panel-default{
        border-color: transparent;
        border: none;
    }
}
.dropdown{
    padding-right: 0px;
    padding-left: 0px;
        button{
            width:100%;
            text-align:center;
        }
        
}

.text-blanco{
    @include color_letra($blanco);
}